@font-face {
  font-family: pixel;
  src: url("./font/SF Pixelate.ttf");
}

@font-face {
  font-family: pixelBold;
  src: url("./font/SF Pixelate Bold.ttf");
}

body {
  margin: 0;
  padding: 0;
  display: -ms-grid;
  display: grid;
  height: 100vh;
  overflow: hidden;
}

@media screen and (max-width: 1400px) {
  body {
    -ms-grid-rows: 15% 75% 10%;
        grid-template-rows: 15% 75% 10%;
  }
}

@media screen and (min-width: 1400px) {
  body {
    -ms-grid-rows: 10% 80% 10%;
        grid-template-rows: 10% 80% 10%;
  }
}

body header {
  padding: 25px;
  background-color: #FCA14E;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 40% 30%;
      grid-template-columns: 30% 40% 30%;
  position: relative;
  top: 0px;
}

body header #smallScreen {
  display: -ms-grid;
  display: grid;
}

@media screen and (min-width: 801px) {
  body header #smallScreen #headerMenu {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    width: auto;
  }
}

@media screen and (max-width: 800px) {
  body header #smallScreen #headerMenu {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 30% 40% 30%;
        grid-template-rows: 30% 40% 30%;
    width: 0;
    height: 250px;
    position: absolute;
    top: 15vh;
    right: 0;
    background-color: #FCA14E;
  }
}

@media screen and (min-width: 801px) {
  body header #smallScreen #menuBtn {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  body header #smallScreen #menuBtn {
    display: block;
    -ms-grid-column-align: center;
        justify-self: center;
    width: 60px;
    height: 60px;
  }
}

body header #smallScreen #prekliky {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
  row-gap: 10px;
}

body header .headerBtn {
  color: #271033;
  font-size: 18px;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 10px;
  font-family: pixel;
}

@media screen and (min-width: 1400px) {
  body header .headerBtn {
    font-size: 22px;
  }
}

body header .headerBtn:hover {
  background-color: #CFFFB3;
}

body header #nazov {
  color: #271033;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media screen and (min-width: 630px) {
  body header #nazov {
    font-size: 36px;
    font-family: pixelBold;
  }
}

@media screen and (max-width: 630px) {
  body header #nazov {
    font-size: 26px;
    font-family: pixelBold;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media screen and (max-width: 465px) {
  body header #nazov {
    font-size: 22px;
    font-family: pixel;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

body header a {
  text-decoration: none;
}

body #popUpPreklikKomentar {
  position: absolute;
  display: none;
}

@media screen and (max-height: 640px) {
  body #popUpPreklikKomentar {
    top: 12vh;
    right: 18vw;
  }
}

@media screen and (min-height: 640px) {
  body #popUpPreklikKomentar {
    top: 9vh;
    right: 19vw;
  }
}

body #popUpPreklikKomentar a {
  padding: 5px;
  border-radius: 7px;
  background: #CFFFB3;
  margin-top: 5px;
  text-decoration: none;
  font-family: pixel;
}

body footer {
  background-color: #FCA14E;
  display: -ms-grid;
  display: grid;
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  bottom: 0;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 100%;
  height: 10vh;
}

body footer p {
  -ms-grid-column-align: center;
      justify-self: center;
  font-weight: bold;
  font-size: 26px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
/*# sourceMappingURL=global.css.map */